<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div>Airport:</div>
    <div><%= flight.airport %></div>
    <div>Flight Number:</div>
    <div><%= flight.flightNo %></div>
    <div>Departs:</div>
    <div><time><%= flight.departs.toLocaleString('en-US', {timeZone: 'UTC'}) %> </time></div>
    <div>Destinations:</div>
    <% flight.destinations.forEach(destination => { %> 
    <div><%= destination.airport %> 
        <time><%= destination.arrival.toLocaleString('en-US', {timeZone: 'UTC'}) %> </time>
    </div>
    <% }) %> 
    <div>Tickets:</div>
    <% if (tickets.length) { %>
    <%tickets.forEach(function (t){%>
  <div>Seat:<%=t.seat%></div>
  <div>Price:$<%=t.price%></div>
    <%})%>
  <% } else { %>
  <div>No tickets yet</div>
  <%}%>
 </section>

 <a href="/tickets/new/<%= flight._id %>">New Ticket</a>

  <br><br>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>Destinations:</label>
  <label>Airport:</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
    <label>Arrival:</label>
        <input type="date" name="arrival">
        <input type="submit" value="Add Destination">
    </select>
</form>

<%- include('../partials/footer') %>